<ul>
  <li>{{#link-to 'frontpage'}}Front page{{/link-to}}</li>
  <li>{{#link-to 'new'}}new{{/link-to}}</li>
  <li>{{#link-to 'show'}}show{{/link-to}}</li>
  <li>{{#link-to 'ask'}}ask{{/link-to}}</li>
  <li>{{#link-to 'jobs'}}jobs{{/link-to}}</li>
  <li>{{#link-to 'active'}}active{{/link-to}}</li>
</ul>
